@media only screen and (min-width: 600px) and (orientation: landscape) {

    .modalContainer {

        .modalInput {
            width: 75%;
        }

        .modalButton {
            height: 5vh;
            width: 15vw;
        }

    }
}