.contentWrapper {
    height: 80vh;

    .buttonDiv {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        .button {

            height: 6vh;
            width: 25vw;
            border-radius: 5px;
            border: none;
        }

        .deleteAllButton {
            background-color: red;
        }
    }
}