.contentWrapper {
    height: 80vh;
    display: grid;
    place-items: center;
    grid-template-rows: 5vh auto;
    .buttonDiv {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;

        .button {

            height: 6vh;
            width: 25vw;
            
            border: none;
            border-radius: 5px;
        }

        .addButton, .deleteDoneButton {
            border-radius: 5px;
            border-bottom: 4px solid grey;
        }

        .deleteAllButton {
            background-color: red;
            border-bottom: 4px solid rgb(197, 0, 0);
            border-radius: 5px;
        }
    }

    .contentDiv {
        margin-top: 5px;
        width: 93%;
        height: 70vh;
        overflow-y: scroll;

        .listDiv {

            word-break: break-word;
            hyphens: auto;
            background-color: rgb(161, 161, 161);
            margin-bottom: 1vh;
            display: flex;
            flex-direction: row;
            align-items: center;
            border-radius: 5px;
            
            .inputLabel {
                font-size: 2rem;
            }

            .contentDivInput {
                height: 32px;
                width: 32px;
                min-width: 32px;
            }
        }
    }
}