.headerWrapper {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .headerDiv {
        text-align: center;
        .headerH1 {
            background: radial-gradient(circle, rgba(162,162,162,1) 0%, rgba(157,98,146,1) 67%);
            padding: 5px;
            border-radius: 5px;
            margin: 0;
        }
    }    
}
@media only screen and (max-width: 600px) {
    .headerH1 {
        background-color: aqua;
    }
}