@import "mixin/mixin.scss";

.overlay {
    background-color: rgba(0,0,0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    @include flexcenter;
}

.modalContainer {
    background-color: aqua;
    height: 50vh;
    width: 40vw;
    position: relative;
    flex-direction: column;
    @include flexcenter;
    gap: 1vh;
    .modalCloseButtonX {
        
        margin: 0;
        position: absolute;
        top: 8px;
        right: 8px;
        color: black;
    }

    .modalInput {
        width: 75%;
        height: 2rem;
    }

}

